* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  font-size: 100%;
}
html {
  height: 100%;
}
body {
  background: #e0e0e0;
  width: 960px;
  margin:0 auto;
  height: 100%;
  min-height:100%;
  font-family:'Tahoma','Arial', sans-serif;
  font-size: 14px;
  /*border: 2px solid blue;*/
}
a {
  text-decoration: none;
  color: inherit;
}
.top1 {
  background: #e0e0e0;
  padding: 15px 3% 5px;
  overflow: hidden;
  width: 100%;
  /*border: 2px solid red;*/
}
    .top1 p{
      color: #A75254;
      line-height: 0.1em;
      font-size: 12px;
    }
    .openhoursTop {
      padding-top: 10px;
      margin-bottom: 20px;
      float: left;
      text-align: left;
      /*border: 2px solid red;*/
    }
    .addresTop {
      float: right;
      text-align: right;
      /*border: 2px solid red;*/
    }

.headerDecor {
  position: relative;
  width: 100;
  height: 154px; 
  background-color: white;
  padding: 0;
   box-shadow:
  1px 0px rgb(203,203,203), 1px 1px rgb(134,134,134),
  2px 1px rgb(202,202,202), 2px 2px rgb(133,133,133),
  3px 2px rgb(201,201,201), 3px 3px rgb(132,132,132);
}
    .logoAPM {
      position: absolute;
      margin-top: 10px;
      left: 45px;
    }
    .headerTXT {
      position: absolute;
      text-align: center;
      left: 265px;
      margin-top: 17px;
      color: #777777;
    }
      .headerTXT h2 {
        font-size: 18px;
        font-style: normal;
        /*text-transform: uppercase;*/
        letter-spacing: 0.07em;
        /*text-shadow: 2px 1px 1px #e0e1e3;*/
        margin-bottom: 0.15em;
      }
      .headerTXT p {
        font-size: 12px;
        font-style: normal;
        /*text-transform: uppercase;*/
        letter-spacing: 0.03em;
        /*text-shadow: 1px 1px 1px #e0e1e3;*/
      }
      .headerTXT h1 {
        font-size: 24px;
        font-style: normal;
        /*text-transform: uppercase;*/
        letter-spacing: 0.05em;
        /*text-shadow: 2px 2px 0px #e0e1e3;*/
        margin-top: 0.15em;
      }
    .building {
      position: absolute;
      right: 0;
    }
.header-nav {
    display: block;
    /*font-family: 'Exo 2','Tahoma','Arial', sans-serif;*/
    font-weight: bold;
    text-align: center;
    margin: 20px 0;
    /*border: 2px solid red;*/
    }
    .header-nav li {
      display: inline;
      margin-right: 10px;
    }
    .header-nav a {
      font-size: 13px;
      text-align: center;
      padding-top: 15px;
      padding: 10px 20px;
      border-radius: 0px;
      transition: .25s;
    }
    .header-nav a:hover {
      background-color: white;
      color: #A75254;
      /*text-shadow: 1px 2px 1px #e0e0e0;*/
    }
    .dosLi, .servLi, .formLi, .contLi {
      color: white;
      /*text-shadow: 1px 2px 1px #7d4d4f;*/
      background-color: #A75254;
       box-shadow:
      1px 0px rgb(203,203,203), 1px 1px rgb(134,134,134),
      2px 1px rgb(202,202,202), 2px 2px rgb(133,133,133),
      3px 2px rgb(201,201,201), 3px 3px rgb(132,132,132);
    }
    .glavLi {
      color: #A75254;
      background-color: white;
      box-shadow:
      1px 0px rgb(203,203,203), 1px 1px rgb(134,134,134),
      2px 1px rgb(202,202,202), 2px 2px rgb(133,133,133),
      3px 2px rgb(201,201,201), 3px 3px rgb(132,132,132);
    }
#content {
  background-color: white;
  padding-top: 20px;
    box-shadow:
  1px 0px rgb(203,203,203), 1px 1px rgb(134,134,134),
  2px 1px rgb(202,202,202), 2px 2px rgb(133,133,133),
  3px 2px rgb(201,201,201), 3px 3px rgb(132,132,132);
  /*padding-bottom:100px;    Height of the footer element */
}
#mainCont {
  float: left;
  width: 70%;
  /*border: 2px solid red;*/
  padding: 0px 3% 40px 3%;
  /*font-family: 'Exo 2','Tahoma','Arial', sans-serif;*/
}
#mainCont ol {
  padding: 5px 40px;
  font-family: 'Verdana','Tahoma','Arial', sans-serif;
}
#mainCont ul {
  padding: 5px 40px;
  font-family: 'Verdana','Tahoma','Arial', sans-serif;
}
#mainCont p {
margin-top: 0.5em;
margin-bottom: 1em;
/*font-family: 'Verdana','Tahoma','Arial', sans-serif;*/
}
#mainCont H1 {
  /*font-family: 'Exo 2','Tahoma','Arial', sans-serif;*/
  font-size: 22px;
  color: #A75254;
  margin-top: 1.5em;
  /*text-shadow: 2px 2px 0px #e0e1e3;*/
}
#mainCont H2 {
/*font-family: 'Exo 2','Tahoma','Arial', sans-serif;*/
font-size: 20px;
margin-top: 1em;
color: #A75254;
/*text-shadow: 1px 1px 0px #e0e1e3;*/
}
#sideCont {
  float: right;
  width: 30%;
  /*border: 2px solid red;*/
  text-align: right;
  font-size: 12px;
  color: #777777;
  padding: 100px 20px;
}
.sideContLink {
  padding: 15px 20px;
  border-top: 2px solid #A75254;
}
#formaSv {
  border-bottom: 2px solid #A75254;
}
.leaveMessage {
  padding-top: 12px; 
  text-align: right;
}
.leaveMessage li {
  border-radius: 4px;
  margin-bottom: 5px;
  line-height: 28px;
  list-style:none;
}
.leaveMessage input[type="text"] {
    width: 200px;
    color: black;
    font-size: 12px;
    font-family: 'Tahoma','Arial', sans-serif;
    background-color: #e0e1e3;
    border: 1px solid #777777;
    text-align: left;
    padding: 5px;
}
::-webkit-input-placeholder { /* WebKit browsers */
    color:    #777777;
    font-family: 'Tahoma','Arial', sans-serif;
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
    color:    #777777;
    font-family: 'Tahoma','Arial', sans-serif;
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
    color:    #777777;
    font-family: 'Tahoma','Arial', sans-serif;
}
:-ms-input-placeholder { /* Internet Explorer 10+ */
    color:    #777777;
    font-family: 'Tahoma','Arial', sans-serif;
   }
textarea {
  border: 1px solid #777777;
  background-color: #e0e1e3;
  color: black;
  padding: 5px;
  width: 200px;
  font-family: 'Tahoma','Arial', sans-serif;
  }
.leaveMessage input:focus, textarea:focus {
      outline: none;
      background-color: #f2fbff;
      border: 1px solid #2E4875;
    }
.leaveMessageSubmitButton {
  -webkit-border-radius: 8;
  -moz-border-radius: 8;
  border-radius: 8px;
  text-shadow: 1px 1px 0px #666666;
  font-family: 'Tahoma','Arial', sans-serif;
  color: #ffffff;
  font-size: 12px;
  background: #A75254;
  padding: 8px 15px;
  text-decoration: none;
  transition: .25s;
}

.leaveMessageSubmitButton:hover {
  background: #6D1B1D;
  text-decoration: none;
}
#footer {
  clear: both;
  width:100%;
  height:150px;
  /*position:absolute;*/
  bottom:0;
  left:0;
  background: #A75254;
}
#footer {
  padding: 15px 3% 100px;
  /*border: 3px solid red;*/
}
.footer-nav {
    display: block;
    font-family: 'Tahoma','Arial', sans-serif;
    /*font-weight: bold;*/
    text-align: center;
    padding-bottom: 25px;
    /*border: 2px solid red;*/
}
.footer-nav li {
    display: inline;
    /*margin-right: 2px;*/
    padding-bottom: 5px;
    /*border: 1px solid red;*/
}
.footer-nav a {
  font-size: 10px;
  text-align: center;
  color: white;
  padding-top: 15px;
  padding: 10px 10px;
  /*border: 1px solid red;*/
}
#footer p{
  color: white;
}
.footerCR {
  float: left;
}
.footerCR p {
  font-size: 10px;
}
.footerTel {
  float: right;
}
.footerTel p{
  font-size: 18px;
}